.col, .col-8, .col-4 {
	margin: 5px;
	background-color: pink;
}
#link1, #link2, #link3, #link4{
	text-decoration: none;
	color: white;        }
ul {
	list-style: none;
	background-color: dodgerblue; 
	padding: 0px;
	margin: 0px;
}
li{
	display: inline-block;
	padding: 15px;
}
li:hover{
	background-color:blue; 
}
#right{ 
	float: right;
}
#heading{
	text-align: center;
	margin: 15Px;
	margin-bottom:35px;
}
@media only screen and (max-width: 960px){
	li {
		float: none;
		width: 100%;
}
	#right {
		float: none; 
	}
}